<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Treeling 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130623

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>rkd.me.uk - {{ page.title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="header-wrapper">
	<div id="header-wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">Rob Day (rkd)</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/" accesskey="1" title="">Blog</a></li>
					<li><a href="/pages/about.html" accesskey="2" title="">About Me</a></li>
					<li><a href="/pages/projects.html" accesskey="3" title="">Projects</a></li>
					<li><a href="/pages/resources.html" accesskey="4" title="">Resources</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="page" class="container">
		<div id="content">
			<h1>{{ page.title }}</h1>
			{% if page contains "published_date" %}
			<h3>{{ page.published_date | date: "%B %e, %Y" }}</h3>
			{% endif %}
			{{ page.content }}
		</div>
		<div id="sidebar">
			<div class="box1">
				<div class="title">
					<h2>Most recent posts</h2>
				</div>
				<ul class="style2">
{% for post in collections.posts.pages limit:10 %}
<li><a href="/{{post.permalink}}">{{post.title}}</a> ({{ post.published_date | date: "%B %e, %Y" }})</li>
{% endfor %}
				</ul>
			</div>
			<div class="box2">
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
  <p>&copy; Rob Day. Blog text and code snippets are <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>. | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Header image from <a href="https://search.creativecommons.org/photos/aa1de790-2acf-4642-8e30-612826efe0ca">here</a>.</p>
</div>
</body>
</html>
